body {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 700px;
  border-radius: 10px;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 56px;
  padding-top: 10px;
  line-height: 20px;
  color: #303841;
}

h1,
h2,
h3,
h4:first-letter {
  text-transform: capitalize;
}

footer {
  text-align: center;
  bottom: 0;
  padding-top: 10px;
  font-family: "Kalam", cursive;
  color: slategrey;
  font-weight: 500;
  font-size: 16px;
}

.card {
  display: block;
  margin: auto;
}

.overview {
  padding: 20px 20px;
  text-align: left;
  color: #47555e;
}

#current-date {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 0;
  line-height: 30px;
}

#weather-description {
  font-size: 22px;
  padding-top: 0;
  line-height: 20px;
}

.overview-weather {
  text-align: right;
  padding: 20px 60px 10px 0;
}

#todays-temp {
  font-size: 58px;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 18px;
  top: -30px;
}

#fahrenheit {
  text-decoration: none;
  color: black;
}

#fahrenheit:hover {
  text-decoration: none;
  color: black;
  cursor: default;
}

#celsius {
  text-decoration: none;
  color: black;
}

#celsius:hover {
  text-decoration: none;
  color: black;
  cursor: default;
}

.today-weather-icon {
  font-size: 80px;
}

.forecast-date {
  font-size: 18px;
  color: black;
  opacity: 0.8;
}

.forecast-temperatures {
  font-size: 14px;
  color: black;
}

.next-day-weather-icon,
.day-three-weather-icon,
.day-six-weather-icon {
  color: darkgoldenrod;
  font-size: 48px;
}

.day-four-weather-icon,
.day-five-weather-icon {
  color: lightgray;
  font-size: 48px;
}

.container .weather-search {
  padding-bottom: 20px;
  margin: -20 auto;
}

#search-city-button {
  display: inline-block;
}

#current-location-button {
  display: inline-block;
}
